[submodule "transnetv2pt"]
	path = transnetv2pt
	url = https://github.com/badde57/transnetv2pt.git
[submodule "wd14-tagger-standalone"]
	path = wd14-tagger-standalone
	url = https://github.com/corkborg/wd14-tagger-standalone.git
