include LICENSE
include README.md
include pyproject.toml
include setup.py
include requirements.txt
include install.sh

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[cod]
recursive-exclude * *.so
recursive-exclude * .DS_Store
recursive-exclude venv * 