allin1==1.1.0
deepdanbooru==1.0.3
ffmpeg-python==0.2.0
huggingface-hub==0.28.1
madmom==0.17.dev0
natten==0.14.6
numpy==2.2.2
onnxruntime==1.20.1
opencv-python==4.11.0.86
Pillow==11.1.0
pandas==2.2.3
tqdm==4.66.2
danbooru-tag-expander>=0.1.5
torchvision==0.21.0
otio-fcpx-xml-lite-adapter==0.1.0
opentimelineio>=0.17.0
wd14-tagger-standalone @ git+https://github.com/allenday/wd14-tagger-standalone.git@v0.1.0
transnetv2pt @ git+https://github.com/badde57/transnetv2pt.git@v1.0.0#egg=transnetv2pt
